PROG3170_A1/GreetingServiceConsoleClient/Connected Services/GreetingServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GreetingService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GreetingService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GreetingRequest">
    <xs:sequence>
      <xs:element name="Language" nillable="true" type="xs:string" />
      <xs:element name="TimeOfDay" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GreetingRequest" nillable="true" type="tns:GreetingRequest" />
  <xs:complexType name="GreetingResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GreetingRequest">
        <xs:sequence>
          <xs:element name="Greeting" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GreetingResponse" nillable="true" type="tns:GreetingResponse" />
</xs:schema>