PROG3170_A1_V2/GreetingServiceConsoleClient/Connected Services/GreetingServiceReference/GreetingServiceType.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GreetingServiceType" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/GreetingService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/GreetingService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/GreetingService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GreetingService" />
      <xsd:import schemaLocation="http://localhost:8082/GreetingService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGreetingService_Greet_InputMessage">
    <wsdl:part name="parameters" element="tns:Greet" />
  </wsdl:message>
  <wsdl:message name="IGreetingService_Greet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GreetResponse" />
  </wsdl:message>
  <wsdl:message name="IGreetingService_GetAllTimesOfDay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTimesOfDay" />
  </wsdl:message>
  <wsdl:message name="IGreetingService_GetAllTimesOfDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTimesOfDayResponse" />
  </wsdl:message>
  <wsdl:message name="IGreetingService_GetSupportedLanguages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportedLanguages" />
  </wsdl:message>
  <wsdl:message name="IGreetingService_GetSupportedLanguages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportedLanguagesResponse" />
  </wsdl:message>
  <wsdl:portType name="IGreetingService">
    <wsdl:operation name="Greet">
      <wsdl:input wsaw:Action="http://tempuri.org/IGreetingService/Greet" message="tns:IGreetingService_Greet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGreetingService/GreetResponse" message="tns:IGreetingService_Greet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTimesOfDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IGreetingService/GetAllTimesOfDay" message="tns:IGreetingService_GetAllTimesOfDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGreetingService/GetAllTimesOfDayResponse" message="tns:IGreetingService_GetAllTimesOfDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportedLanguages">
      <wsdl:input wsaw:Action="http://tempuri.org/IGreetingService/GetSupportedLanguages" message="tns:IGreetingService_GetSupportedLanguages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGreetingService/GetSupportedLanguagesResponse" message="tns:IGreetingService_GetSupportedLanguages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGreetingService" type="tns:IGreetingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Greet">
      <soap:operation soapAction="http://tempuri.org/IGreetingService/Greet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTimesOfDay">
      <soap:operation soapAction="http://tempuri.org/IGreetingService/GetAllTimesOfDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportedLanguages">
      <soap:operation soapAction="http://tempuri.org/IGreetingService/GetSupportedLanguages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GreetingServiceType">
    <wsdl:port name="BasicHttpBinding_IGreetingService" binding="tns:BasicHttpBinding_IGreetingService">
      <soap:address location="http://localhost:8082/GreetingService/GreetingService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>